@media print {
    @page {
        size: 80mm auto;   /* ou 58mm auto */
        margin: 0;
    }
   
    html, body {
        width: 100%;
        margin: 0;
        padding: 0;
    }

     table {
        width: 100%;
        border-collapse: collapse;
    }

    td, th {
        padding: 4px 2px;
        line-height: 1.4;
        font-size: 12px;
    }

    img { display: block; margin: auto; width: 60px; }

    table {
        width: 100% !important;
        border-collapse: collapse;
    }

    th, td {
        padding: 2px 3px;
        text-align: left;
        font-size: 10px;
    }

    thead th {
        border-bottom: 1px dashed #000;
        font-weight: bold;
    }

    tr {
        line-height: 1.2 !important;
    }

    /* Cacher tout le reste de l'application */
    /* body * {
        visibility: hidden;
    }

    .print-pos, .print-pos * {
        visibility: visible;
    } */

    /* .print-pos {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%; */

         /* .print-pos {
        width: 70mm;             
        margin: 0 auto;           
        font-size: 12px;
        font-family: monospace;
    } */

     .print-pos {
        width: 80mm;              /* largeur logique du reçu */
        margin: 0 auto;           /* 🔥 centre horizontalement */
        transform: scale(1.6);    /* 🔥 AGRANDIT LE CONTENU */
        transform-origin: top center;
        font-family: monospace;
        font-size: 12px;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: transparent !important;
    }

td:last-child, th:last-child {
    text-align: right;
    font-weight: bold;
}
  img {
    display: block !important;
    visibility: visible !important;
    max-width: 100%;
  }

.d-flex {
    display: block !important;
  }

  a {
        text-decoration: none;
        color: black;
        pointer-events: none;
    }

    tbody td {
    padding: 5px 10px; /* haut-bas 5px, gauche-droite 10px */
}
}




